{% extends 'base.html' %}

{% block content %}
<section>
  <!-- if we have an event, display the event info -->
  {% if event %}
  <div class="base-grid">
    <div class="row-style first-row-element">
      <span class="material-symbols-outlined" style="padding:10px">
        featured_seasonal_and_gifts
      </span> <span style="padding:1px">The gift exchange is on {{ event['event_date']}}</span>
    </div>

    <div class="row-style second-row-element-1"><span class="material-symbols-outlined" style="padding:10px">
        sentiment_calm
      </span>Which is x days away</div>
    <div class="row-style second-row-element-2"><span class="material-symbols-outlined" style="padding:10px">
        savings
      </span> <span>Maximum spend: {{ event['cost']}}</span></div>
    <div class="row-style third-row-element" style="padding:10px">
      <details>
        <summary>Click here to see your assigned santee</summary>
        It's
        <sparkle>Helen</sparkle>
      </details>
    </div>
  </div>
</section>
<hr>
<section>
  <p>I need <a href="">help!</a> | I'd like to <a href="">leave</a> the draw...
</section>
{% endif %}
{% endblock %}