{% extends 'base.html' %}

{% block content %}
<section>
  <!-- if we have an event, display the event info -->
  {% if event %}
  <div class="base-grid">
    <div class="row-style first-row-element" style="padding:10px">
      <div class="material-symbols-outlined">
        featured_seasonal_and_gifts
      </div>The gift exchange is on {{ event['event_date']}}
    </div>

    <div class="row-style second-row-element-1" style="padding:10px"><span class="material-symbols-outlined">
        sentiment_calm
      </span>Which is x days away</div>
    <div class="row-style second-row-element-2" style="padding:10px"><span class="material-symbols-outlined">
        savings
      </span> Maximum spend: {{ event['cost']}}</div>
    <!-- Here, we need to check - if user has joined, and the draw has happened-->
    {% if user and user['giftee'] %}
    <div class="row-style third-row-element" style="padding:10px">
      <details>
        <summary>Click here to see your assigned santee</summary>
        It's
        <sparkle>{{ user['giftee']}}</sparkle>
      </details>
    </div>
    {% else %}
    <div>{{ user['giftee']}}</div>
    {% endif %}
  </div>
</section>
<hr>
<section>
  <!-- Here, we need to check - if user has joined, display leave button, if not, display join button-->
  {% if user['has_joined_event'] %}
  <form action="{{ url_for('event_page.leave') }}" method="post">
    <input class="info" type="submit" value="Leave" onclick="return confirm('Click to leave the event.');">
  </form>
  {% else %}
  <form action="{{ url_for('event_page.join') }}" method="post">
    <input class="info" type="submit" value="Join" onclick="return confirm('Click to join the event.');">
  </form>
  {% endif %}
</section>
<section>
  <!--p>{{ g.user['user_id'] }} and {{ event }}<p -->
  <!-- Here, we need to check - if user is the event owner, show the perform draw button-->
  {% if g.user and g.user['user_id'] == event['user_id'] %}
  <form action="{{ url_for('event_page.perform_event_draw') }}" method="post">
    <input class="info" type="submit" value="Perform the draw" onclick="return confirm('Click to perform the draw.');">
  </form>
  {% else %}
  <!-- display nothing-->
  {% endif %}
</section>
{% else %}
<section>
  <p>There's no event running currently. Come back next year!</p>
</section>
{% endif %}
{% endblock %}