<!doctype html>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Shrikhand&family=Yuji+Mai&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<head>
  <title>{% block title %}{% endblock %}</title>
  <!--link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.css'-->
  <link rel="stylesheet" href="{{ url_for('static', filename='beige.css') }}">
</head>

<body>
  <main>
    <section name="header">
      <h1 style="text-align:center;"><a href="{{ url_for('index') }}">🎅🎄Welcome to Risky Secret Santa ❄️🎁</a></h1>
    </section>
    <hr>
    <section>
      <div class="nav-grid">
      {% if g.user %}
      <div style="grid-column-start: 1;grid-column-end: 2;">
        Welcome <a href="{{ url_for('user_page.index', user_id=g.user['user_id']) }}">{{ g.user['username'] }}</a>!
      </div>
      <div style="grid-column-start: 2;grid-column-end: 2;justify-self: end;">
        <form action="{{ url_for('auth.logout') }}" method="get">
          <input class="info" type="submit" value="Log out">
        </form>
      </div>
      {% else %}
        <div style="grid-column-start: 1;grid-column-end: 2;">
          <form action="{{ url_for('auth.register') }}" method="get">
            <input class="info" type="submit" value="Register">
          </form>
        </div>
        <div style="grid-column-start: 2;grid-column-end: 2;">
          <form action="{{ url_for('auth.login') }}" method="get">
            <input class="info" type="submit" value="Log in">
          </form>
        </div>
      {% endif %}
      </div>
    </section>
    <hr>
    <section class="content">
      <h4>
        {% block header %}{% endblock %}
      </h4>
      {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>

    </hr>
    <!--section class="content">
      <table>
        <thead>
          <tr>
            <th>
              Your User information
            </th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td>user name:</td>
          <td contenteditable='true'>helen</td>
        </tr>
        <tr>
          <td>email:</td>
          <td>helenffionadams@gmail.com</td>
        </tr>
        <tr>
          <td>Address:</td>
          <td>N/A</td>
        </tr>
        <tr>
          <td>Dietary requirements:</td>
          <td>Veggie please! 🥬</td>
        </tr>
        </tbody>
      </table>
      </section -->
  </main>
</body>